.hero {
  height: 100vh;
  background: linear-gradient(180deg, #7BE1DD, #e1ffea22 60%);
  display: flex;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  padding-left: 10vw;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 2vh;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 10vh;
  font-weight: 700;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 20vw;
  height: 7vh;
  border-radius: 50vh;
  margin-top: 3vh;
  background: #08B4AD;
  color: white;
  font-size: 2.5vh;
  font-weight: 400;
  cursor: pointer;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right img {
  width: 50vh;
}

#highlight {
  text-decoration: underline;
  color: #DB2F9F;
}

@media screen and (max-width: 768px) {
  .hero-left {
    padding-left: 5vw;
  }

  .hero-left h2 {
    font-size: 3vh;
  }

  .hero-left p {
    font-size: 5vh;
  }

  .hero-latest-btn {
    width: 40vw;
    height: 10vh;
    font-size: 3vh;
  }

  .hero-right img {
    width: 30vh;
  }
}

@media screen and (max-width: 480px) {
  .hero-left h2 {
    font-size: 2.5vh;
  }

  .hero-left p {
    font-size: 3vh;
  }

  .hero-latest-btn {
    width: 100%;
    height: 10%;
    font-size: 14px;
  }

  .hero-right img {
    width: 200px;
  }

  .hero {
    height: 450px;
    margin-bottom: 80px;
  }
}
