.descriptionBox {
    margin: 60px 20px;
  }
  
  .descriptionBox-navigator {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .descriptionBox-navBox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
  }
  
  .descriptionBox-navBox.fade {
    background: #fbfbfb;
    color: #555;
  }
  
  .descriptionBox-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #d0d0d0;
    padding: 20px;
    padding-bottom: 40px;
  }
  
  @media (max-width: 1650px) {
    .descriptionBox {
      margin: 30px 10px;
    }
  
    .descriptionBox-navigator {
      flex-direction: column;
      gap: 20px;
    }
  
    .descriptionBox-navBox {
      width: 50%;
      height: auto;
    }
  }

  @media (max-width: 768px){
    .descriptionBox-navigator{
        display: inline-table;
        gap: 0px;
        width: 100%;
    }

  }
  