.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer-logo img{
    width: 15vh;
}

.footer-links{
   display: flex;
   list-style: none;
   gap: 50px;
   color: #707070;
   font-size: 20px;
}

.footer-links li{
    cursor: pointer;
    font-weight: 600;
}

.footer-links li:hover{
    color: #252525;
}

.footer-attribute{
    font-size: 12px;
    width: 100%;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}