.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 2vh 0;
  }
  
  .footer-logo {
    margin-top: 5%;
    display: flex;
    align-items: center;
    gap: 2vh;
  }
  
  .footer-logo img {
    width: 15vh;
    max-width: 100%;
    margin-bottom: 40%;
  }
  
  .footer-links {
    display: flex;
    list-style: none;
    gap: 5vh;
    color: #707070;
    font-size: 2vh;
  }
  
  .footer-links li {
    cursor: pointer;
    font-weight: 600;
  }
  
  .footer-links li:hover {
    color: #252525;
  }
  
  .footer-attribute {
    font-size: 1.2vh;
    width: 100%;
  }
  
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    width: 100%;
    margin-bottom: 3vh;
    color: #1a1a1a;
    font-size: 2vh;
  }
  
  .footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 1vh;
    height: 0.3vh;
    background: #c7c7c7;
  }
  
@media (max-width: 768px) {
  .footer {
    gap: 10px;
    margin-top: 40px;
  }

  .footer-logo img{
    margin-bottom: 20px;
  }

  .footer-links {
    font-size: 12px;
    gap: 10px;
    margin-left: -35px;
  }
}