.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    min-height: 80vh;
    padding: 2vh 0;
  }
  
  .popular h1 {
    color: #171717;
    font-size: 4vh;
    font-weight: 600;
  }
  
  .popular hr {
    width: 15vw;
    height: 0.5vh;
    border-radius: 5vh;
    background: #252525;
  }
  
  .popular-item {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    align-items: center;
  }
  
  .popular-item img {
    border: 0.2vh solid #7BE1DD;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.3);
    width: 30vh;
  }

  @media screen and (max-width: 768px) {
    .popular-item img {
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .popular h1 {
      text-align: center;
    }

    .popular hr {
      width: 20%;
    }
  }